---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Content from '../../content/fr/infos.md';
import content from '../../content/fr/infos.meta.json'; 
---

<BaseLayout lang="fr" title={content.InfosTitle}>
  <main class="main--content">
    <nav class="section-nav" aria-label="Section navigation">
      <ul>
        <li><a href="#pourquoi-moudre-le-grain">{content.SectionNavOne}</a></li>
        <li><a href="#pain-integral">{content.SectionNavTwo}</a></li>
        <li><a href="#cereales">{content.SectionNavThree}</a></li>
        <li><a href="#sans-gluten">{content.SectionNavFour}</a></li>
      </ul>
    </nav>

    <div class="page-content">
      <Content />
    </div>
  </main>
</BaseLayout>