---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Content from '../../content/en/infos.md';
import content from '../../content/en/infos.meta.json'; 
---

<BaseLayout lang="en" title={content.InfosTitle}>
  <main class="main--content">
    <nav class="section-nav" aria-label="Section navigation">
      <ul>
        <li><a href="#why-grind-the-grain">{content.SectionNavOne}</a></li>
        <li><a href="#whole-bread">{content.SectionNavTwo}</a></li>
        <li><a href="#grains">{content.SectionNavThree}</a></li>
        <li><a href="#why-not-gluten-free">{content.SectionNavFour}</a></li>
      </ul>
    </nav>

    <div class="page-content">
      <Content />
    </div>
  </main>
</BaseLayout>
