
---
import BaseLayout from '../layouts/BaseLayout.astro';
import content from '../content/home.json';
---

<BaseLayout >
  <main class="main--home">
<div class="home-cta-sections">

  <!-- Section 1 -->
  <section class="cta-block">
    <div class="cta-image">
<img src={`${import.meta.env.BASE_URL}images/${content.image1}`} alt={content.imageAlt1} width="1600" height="1067" />

    </div>
    <div class="cta-text">
      <div class="cta-content">
        <h1>{content.text1}</h1>
     <h2>
  <a href={`${import.meta.env.BASE_URL}notre-mission/#mile-end`} class="mile-end-link">
    {content.text2}
  </a>
</h2>

      </div>
    </div>
  </section>

  <!-- Section 2 -->
  <section class="cta-block reverse">
    <div class="cta-image">
      <img src={`${import.meta.env.BASE_URL}images/${content.image2}`} alt={content.imageAlt2} loading="lazy" width="1600" height="1302" />

    </div>
    <div class="cta-text">
      <div class="cta-content">
       <h2>{content.text3}</h2>
       <h3>{content.text4}</h3>
      </div>
  

      <a href={`${import.meta.env.BASE_URL}produits/`} class="cta-button">Découvrir nos produits</a>
    </div>
  </section>

  <!-- Section 3 -->
  <section class="cta-block">
    <div class="cta-image">
  <img src={`${import.meta.env.BASE_URL}images/${content.image3}`} alt={content.imageAlt3} width="1600" 
  height="1380" loading="lazy"  />

    </div>
    <div class="cta-text">
      <div class="cta-content">
<h2>
  {content.text5}
  <a class="link-inherit" href={`${import.meta.env.BASE_URL}informations-utiles/`}>{content.link1}</a>
  {content.text6}
  <a class="link-inherit" href={`${import.meta.env.BASE_URL}faire-son-pain/`}>{content.link2}</a>
</h2>


        </div>
    </div>
  </section>

</div>
</main>

</BaseLayout>
