---
import content from '../content/footer.json';
---

<footer>
<div>
    <div>
    <img src="/windmill.gif" alt="Animated logo" class="footer-gif" />
  </div>
    <div>{content.address}</div>
    <div>{content.hours}</div>
    <div>{content.phone}</div>
      <div>
    <a href={`mailto:${content.email}`}>{content.emailLabel}</a>
  </div>
</div>
</footer>
